@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


body { background: #fff; color: black;}

/* .section {background: linear-gradient(#f74349, #ffc7c9);} */

.section:nth-child(1) {background: #fff;}
.section:nth-child(2) {background: linear-gradient(#f74349, #ffc7c9);}
.section:nth-child(3) {background:#ffc7c9;}
.section:nth-child(4) {background:#ffc7c9;}
.section:nth-child(5) {background:#ffc7c9;}
.section:nth-child(6) {background: linear-gradient(#ffc7c9, #f74349);}








header h1 {position: fixed;top: 10px; left: 10px;z-index: 999; color: #fff;}
header .mopen {position: fixed;top: 50px; right: 50px;z-index: 1000;font-size: 24px; color: #333;}

header .mopen:after {content: "\e91C"; font-family: xeicon!important;}
header .mopen.on:after {content: "\e921";color: #fff;}

nav {position: fixed;top: 50%; right: 50px; transform: translateY(-50%);z-index: 999;}
nav ul {width: 50px;}
nav ul li a {display: block; height: 20px ; text-indent: -9999px;position: relative;}
nav ul li a:after {content: "";display: block; width: 10px;height: 10px; background: rgb(245, 72, 72);border-radius: 50%; position: absolute;top: 9px; right: 0;transition: 0.1s;}
nav ul li.on a:after {transform: translateX(-20px); background: rgb(255, 255, 255);}



.intro .video_intro {width: 100%; height: 100vh; overflow: hidden;}
.intro .video_intro video {width: 2000px;}

.intro .intro_slogan {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; text-align: center;}

.intro .intro_slogan h2 {font-size: 60px;font-weight: 300; font-family: 'Lobster', cursive;
text-shadow: 1px 1px 0 #333;margin-bottom: 30px;}
.intro .intro_slogan p {font-size: 20px; font-family: 'Lobster', cursive;
text-shadow: 1px 1px 0 #333; }

.section .container {display: flex; width: 1300px; margin: 0 auto; }
.section .container>*{flex: 1; padding: 0 25px;}
.section .container video {width: 100%;}
.section .container h2 {font-size: 50px;font-family: 'Lobster', cursive; padding: 40px 0 20px 0; margin-bottom: 24px;}
.section .container p {font-weight: 100; line-height: 1.4; margin-bottom: 24px;}
.section .container ul {font-weight: 100; line-height: 1.4;margin-bottom: 24px;}
.section .color li {margin-left: 20px;}
.section .color span {display: inline-block; width: 12px; height: 12px; border-radius: 50%; background: #fff; margin-right: 5px;}

.section .color {display: flex;}
.section .color span.ff0000 {background: #ff0000;}
.section .color span.ffff00 {background: #ffff00;}
.section .color span.blue {background: #336699;}

.section .txt i {font-size: 24px; padding: 10px; background: rgb(255,255,255); color: #333; margin-right: 10px; border-radius: 50%;}

.section .txt h3 {font-size: 20px; font-weight: 500; margin-bottom: 14px; text-transform: uppercase;}

.section .font {display: flex; }
.section .font li {margin-right: 20px;}

.section .txt a {display: block; width: 100px; line-height: 30px; text-align: center; border: 1px solid #333; }

.section .video_case {background:url(./video_case.png) no-repeat;padding:22px 20px 0 20px;position:relative;height:500px;}
.section .video_case video {border-radius:0;}
.section .video_case iframe {width:100%;height:330px;}
.section .video_case:before {content:"";display:block;width:100px;height:100px;border-radius:50%;background:rgba(255,0,0,0.5);position:absolute;top:-30px;left:-30px;}
.section .video_case:after{content:"";display:block;width:60px;height:60px;border-radius:15px;background:rgba(255,255,0,0.5);position:absolute;top:-50px;left:-50px;}


.section .web {display: block; border: 1px dashed rgb(255, 255, 255); padding: 20px; border-radius: 50%;}
.section .web_case {height: 450px; overflow: hidden;}
.section .web_case img {width: 100%; position: relative;transition: 4s;}
.section .web_case:hover img {transform: translateY(calc(-100% + 450px));}


.section .visual_slider {width: 1300px; margin: 0 auto;z-index: 3;}
.section .visual_slider figure {padding: 0 25px;}
.section .visual_slider img {width: 100%; border-radius: 50%;}

.section .slider_arrows i {position:absolute;top:50%;left:50%;font-size:100px;color:rgb(255, 255, 255);z-index:2;}

.section .slider_arrows i.xi-angle-right {margin-left:750px;transform:translate(-50%,-50%)}
.section .slider_arrows i.xi-angle-left {margin-left:-750px;transform:translate(-50%,-50%)}

.section .visual_slider .slick-dots {display: flex;justify-content: center;}
.section .visual_slider .slick-dots li {width: 15px;height: 15px;background: rgba(255,0,0,0.5);border-radius: 50%; margin: 20px 4px;}
.section .visual_slider .slick-dots button {display: none;}
.section .visual_slider .slick-dots li.slick-active {background: rgb(255, 255, 255)}





.info {background:#f2f2f2 ;}

.section .info_case {padding:30px 0;margin-left:auto;width:150px;}
.section .info_case img {width:100%;border-radius:50%;box-shadow:0 0 5px #333;}


.cover {position:fixed;top:0;left:0;width:100%;height:0;background:#f88487;overflow:hidden;transition:0.8s;z-index:999;}
.cover .video_intro {width: 100%; height: 100vh; overflow: hidden;}
.cover .video_intro video {width: 2000px;}

.cover.on {height: 100vh;}

.cover .info_case img {width: 80%; border-radius: 50%;}


.cover .container {display: flex; color: rgb(255, 255, 255); width: 1300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

.cover .container>*{flex: 1; padding: 0 25px;}

.cover h2 {font-size: 50px;font-family: 'Lobster', cursive; color: rgb(247, 247, 247); padding: 40px 0 0 0; margin-bottom: 24px;}

.cover p {font-size: 20px;padding: 20px 0 20px 0; margin-bottom: 24px;line-height: 30px;
border-bottom: 1px dotted #666; color: rgb(255, 255, 255); font-family: 'Noto Sans KR', sans-serif; }

.cover li a {display: block; line-height: 30px; color: rgb(253, 253, 253);}

.cover li a:before {content: "\eaf8";font-family: xeicon!important;margin-right:15px;color:rgb(255, 255, 255);transition:0.3s; font-size: 15px;}
.cover li a:after {content: "more"; font-size: 15px; margin-left: 20px; color:#f88487 ; opacity: 0;transition: 0.3s;}


.cover li a:hover:before {margin-right: 25px;}
.cover li a:hover:after {opacity: 1;}

footer {padding: 0 0 50px 0; background: rgb(0, 0, 0);color: #f2f2f2;}
footer address {position: fixed; bottom: 50px; left: 50px; z-index: 999;}
footer .to_top {position: fixed; bottom: 50px; right: 50px;font-size: 24px; z-index: 999;}








/*-----------------------------여기서 부터는 768 반응형이랍니다 ----------------------------------*/










@media (max-width:768px) {
    body { background: #fff; color: black;}

    /* .section {background: linear-gradient(#f74349, #ffc7c9);} */
    
    .section:nth-child(1) {background: #fff;}
    .section:nth-child(2) {background: linear-gradient(#f74349, #ffc7c9);}
    .section:nth-child(3) {background:#ffc7c9;}
    .section:nth-child(4) {background:#ffc7c9;}
    .section:nth-child(5) {background:#ffc7c9;}
    .section:nth-child(6) {background: linear-gradient(#ffc7c9, #f74349);}








    header h1 {position: fixed;top: 10px; left: 10px;z-index: 999; color: #fff;}
    header .mopen {position: fixed;top: 50px; right: 20px;z-index: 1000;font-size: 24px; color: #fff;}

    header .mopen:after {content: "\e91C"; font-family: xeicon!important;color: #333;}
    header .mopen.on:after {content: "\e921";color:#fff;}

    nav {display:none;position:fixed;top:50%;right:30px;transform:translateY(-50%);z-index:999;}
    nav ul {width:50px;}
    nav ul li a {display:block;height:16px;text-indent:-9999px;position:relative;}
    nav ul li a:after {content:"";display:block;width:10px;height:10px;background:#f50505;border-radius:50%;position:absolute;top:9px;right:0;transition:0.4s;}
    nav ul li.on a:after {transform:translateX(-20px);background:#f00;}


    .intro .video_intro {width:100%;height:100vh;overflow:hidden;}
    .intro .video_intro video{width:auto;height:100vh;object-fit: cover;}


    .intro .intro_slogan {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; text-align: center;}

    .intro .intro_slogan h2 {font-size: 60px;font-weight: 300; font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 0 #333;margin-bottom: 30px;}
    .intro .intro_slogan p {font-size: 20px; font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 0 #333; }

    .section .container {display: flex; flex-direction: column; width: auto; margin: 0 auto; }
    .section .container>*{flex: 1; padding: 0 25px;}
    .section .container video {width: 100%;}
    .section .container h2 {font-size: 40px;font-family: 'Lobster', cursive; padding: 0 0 0 0; margin-bottom: 24px;}
    .section .container p {font-weight: 100; line-height: 1.4; margin-bottom: 24px;}
    .section .container ul {font-weight: 100; line-height: 1.4;margin-bottom: 24px;}
    .section .color li {margin-left: 20px;}
    .section .color span {display: inline-block; width: 12px; height: 12px; border-radius: 50%; background: #fff; margin-right: 5px;}

    .section .color {display: flex;}
    .section .color li {margin-right:20px;}
    .section .color span.ff0000 {background: #ff0000;}
    .section .color span.ffff00 {background: #ffff00;}
    .section .color span.blue {background: #336699;}

    .section .txt i {font-size: 24px; padding: 10px; background: rgb(253, 252, 255); color: #333; margin-right: 10px; border-radius: 50%;}

    .section .txt h3 {font-size: 20px; font-weight: 500; margin-bottom: 14px; text-transform: uppercase;}

    .section .font {display: flex; }
    .section .font li {margin-right: 20px;}

    .section .txt a {display: block; width: 100px;height: 30px; line-height: 30px; text-align: center; border: 1px solid #333; }


    .section .video_case {background:url(./video_case.png) no-repeat center top;background-size:100% auto;padding:15px;position:relative;}
    .section .video_case video {border-radius:0;}
    .section .video_case iframe {width:100%;height:50vw;border-radius:0;}
    .section .video_case:before {content:"";display:block;width:40px;height:40px;border-radius:50%;background:rgba(255,0,0,0.5);position:absolute;bottom:-10px;right:-10px;top:auto;left:auto;}
    .section .video_case:after{content:"";display:block;width:20px;height:20px;border-radius:50%;background:rgba(255,255,0,0.5);position:absolute;top:-30px;left:-30px;}



    .section .web {display: block; border: 0 dotted rgb(255, 255, 255); padding: 0; border:3px solid #ddd;}
    .section .web_case {height: 200px; overflow: hidden;}
    .section .web_case img {width: 100%; position: relative;transition: 2s;}
    .section .web_case:hover img {transform: translateY(0);}

    .portfolio03 .txt .color {display:none;}
    .portfolio03 .txt .font {display:none;}
    .portfolio03 .txt h3 {display:none;}


    .section .visual_slider {width:auto;margin:0 auto;z-index:3;}
    .section .visual_slider figure {padding:0 25px;}
    .section .visual_slider img {width:100%;border-radius:50%;}

    .section .slider_arrows i {position:absolute;top:50%;left:auto;font-size:50px;color:rgb(255, 255, 255,);z-index:4;}

    .section .slider_arrows i.xi-angle-right {margin-left:0;transform:translate(0,0);right:1px;top: 370px;}
    .section .slider_arrows i.xi-angle-left {margin-left:0;transform:translate(0,0);left:1px;top: 370px}

    .section .visual_slider .slick-dots {display:flex;justify-content:center;}
    .section .visual_slider .slick-dots li {width:15px;height:15px;background:rgba(255,0,0,0.5);border-radius:50%;margin:20px 4px;}
    .section .visual_slider .slick-dots button {display:none;}
    .section .visual_slider .slick-dots li.slick-active {background:rgb(255, 255, 255,)}


    .info {background:#f2f2f2 ;padding: 30px 0; }

    .section .info_case {padding:30px 0;margin-left:auto;width:150px;}
    .section .info_case img {width:100%;border-radius:50%;box-shadow:0 0 5px #333;}


    .cover {position: fixed; top: 0; left: 0; width: 100%; height: 0; background: linear-gradient(#ff3e44d0, #f88487);overflow: hidden; z-index: 999; transition: 0.8s; }
    .cover .video_intro {width: 100%; height: 100vh; overflow: hidden;}
    .cover .video_intro video {width: 2000px;}

    .cover.on {height:100vh;}

    .cover .container {display:flex;flex-direction:column;color:#333;width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%); ;}
    .cover .container>* {flex:1;padding:0 25px;}

    .cover .info_case img {width:50%;border-radius:50%;}




    .cover h2 {font-size: 50px; font-family: 'Lobster', cursive; padding: 40px 0 0 0; margin-bottom: 24px; }

    .cover p {font-size: 20px;padding: 20px 0 20px 0; margin-bottom: 10px;
    border-bottom: 1px dotted #666; font-family: 'Noto Sans KR', sans-serif;}

    .cover li a {display: block; line-height: 30px;}

    .cover li a:before {content: "\eaf8";font-family: xeicon!important;margin-right:15px;color:black;transition:0.3s; font-size: 15px;}
    .cover li a:after {content: "more"; font-size: 10px; margin-left: 20px; color: rgb(255, 255, 255); opacity: 0;transition: 0.3s;}


    .cover li a:hover:before {margin-right: 25px;}
    .cover li a:hover:after {opacity: 1;}

    footer {padding: 0 0 50px 0; background: rgb(0, 0, 0);color: #f2f2f2;}
    footer address {position: fixed; bottom: 50px; left: 50px; z-index: 999;}
    footer .to_top {position: fixed; bottom: 50px; right: 50px;font-size: 24px; z-index: 999;}

}



 